
<div class="center" >
  <form>
    <label for="songName"><strong><h3><span class="glyphicon glyphicon-music"></span> Song Name: </h3S></strong></label> 
    <input type="text" name="songName" ng-model="newMusic.name">
    <br><br>
    <label for="artistName"><strong><h3><span class="glyphicon glyphicon-user"></span> Artist Name: </h3S></strong></label> 
    <input type="text" name="artistName" ng-model="newMusic.artist">
    <br><br>
    <label for="albumName"><strong><h3><span class="glyphicon glyphicon-picture"></span> Album Name: </h3S></strong></label> 
    <input type="text" name="albumName" ng-model="newMusic.album">
    <br><br>
  </form>
  <button ng-click="addMusic()"> Add Song </button>
</div>

       