<!-- <!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="./lib/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/main.css">
    <meta charset="utf-8">
    <title> Music </title>
  </head>


  <body ng-app="MusicApp">
    <div class="container-fluid">
      <section ng-controller="MusicCtrl"> 
        <!-- Nav Content Area -->
        <nav class="navbar navbar-default"> 
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand navbar-btn homeclr" href="index.html">Home</a>
          </div>
          <div class="collapse navbar-collapse navbar-btn" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="addSong.html">Add Music</a></li>
            </ul> -->

           <!--  <button type="button" class="btn btn-default btn-lg ">
                <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
              </button>
              <button type="button" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
              </button>
              <button type="button" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
              </button>
              <button type="button" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
            </button> -->

          <!--   <ul class="nav navbar-nav navbar-right">
              <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                  <input type="text" class="form-control" ng-model="songSearchText" placeholder="Whatcha' looking' for?">
                </div>
            </form>
            </ul>
          </div><!-- /.navbar-collapse -->
       <!--  </nav> -->

  <!--       <div class="row row-eq-height">
          <div class="col-md-4 left center"> -->
            <!-- <form> --> -->
              <label for="songName"><strong><h3><span class="glyphicon glyphicon-music"></span> Song Name: </h3S></strong></label> 
              <input type="text" name="songName" ng-model="newMusic.name">
              <br><br>
              <label for="artistName"><strong><h3><span class="glyphicon glyphicon-user"></span> Artist Name: </h3S></strong></label> 
              <input type="text" name="artistName" ng-model="newMusic.artist">
              <br><br>
              <label for="albumName"><strong><h3><span class="glyphicon glyphicon-picture"></span> Album Name: </h3S></strong></label> 
              <input type="text" name="albumName" ng-model="newMusic.album">
              <br><br>
            <!-- </form> -->
            <button ng-click="addMusic()"> Add Song </button>
   <!--        </div>

          <div class="col-md-8 right">
            <div>
              <ul ng-repeat="song in songs | filter: songSearchText">
                <h2>{{song.name}}</h2>
                <h4>Performed by {{song.artist|capitalize}} on the album {{song.album}}.</h4>
                <button ng-click="killMusic(song)">Remove</button>
              </ul>
            </div> 
          </div>
        </div>
      </section>  
    </div>    

  <script src="lib/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="lib/bower_components/angular/angular.min.js"></script>   
  <script src="app/app.js"></script>
  <script src="app/filters/capitalize.js"></script>
  <script src="app/controllers/songs.js"></script>
  </body>  
</html>


       -->